{% load static %}
{% load gravatar %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block page_name %}{% endblock %} | Cidade em Ação</title>

    {% include 'includes/head.html' %}
  </head>


  <body class="nav-md">
    <div class="container body">
      <div class="main_container">


        <!-- top navigation -->
        <div class="top_nav" style="margin-left: 0px;">
          <div class="nav_menu">
            <nav>


              <ul class="nav navbar-nav navbar-right">


                <li role="presentation" class="dropdown">
                  <a href="{% url 'home' %}">
                    <i class="fa fa-eye"></i>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        {% block page_content %}{% endblock page_content %}
        <!-- /page content -->

        <!-- footer content -->
        <footer style="margin-left: 0px;">
          {% include 'includes/footer.html' %}
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    {% include 'includes/scripts.html' %}
  </body>
</html>
