{% extends 'accounts/base.html' %}
{% load static %}
{% load custom_tags %}
{% block page_name %}Profile{% endblock %}
{% block page_content %}
  <div class="right_col" style="margin-left: 0px; margin-right: 0px;"  role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Registrar<small> novo usuário</small></h3>
        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_content">
              <br>
              <form id="demo-form2" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="" method="post">
                {% csrf_token %}
                {% fields_for form %}
                <div class="ln_solid"></div>
                <div class="form-actions">
                  <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button type="submit" class="btn btn-primary">Cancelar</button>
                    <button type="submit" class="btn btn-success">Salvar</button>
                  </div>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock page_content %}
