{% load static %}
{% load gravatar %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block page_name %}{% endblock %} | Cidade em Ação</title>

    {% include 'includes/head.html' %}
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="{% url 'home' %}" class="site_title"><i class="fa fa-eye"></i> <span>Cidade em Ação</span></a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
{#            <div class="profile">#}
{#              <div class="profile_pic">#}
{#                <img src="{% gravatar_url user.email 150 %}" alt="..." class="img-circle profile_img">#}
{#              </div>#}
{#              <div class="profile_info">#}
{#                <span>Olá,</span>#}
{#                <h2>{{ request.user.first_name }}</h2>#}
{#              </div>#}
{#            </div>#}
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
{#                <h3>Geral</h3>#}
                <ul class="nav side-menu">
                  <li><a><i class="fa fa-home"></i> Inicio </a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
{#            <div class="sidebar-footer hidden-small">#}
{#              <a data-toggle="tooltip" data-placement="top" title="Configuração">#}
{#                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>#}
{#              </a>#}
{#              <a data-toggle="tooltip" data-placement="top" title="FullScreen">#}
{#                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>#}
{#              </a>#}
{#              <a data-toggle="tooltip" data-placement="top" title="Lock">#}
{#                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>#}
{#              </a>#}
{#              <a data-toggle="tooltip" data-placement="top" title="Logout">#}
{#                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>#}
{#              </a>#}
{#            </div>#}
            <!-- /menu footer buttons -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="{% gravatar_url user.email 150 %}" alt="">{{ request.user.first_name }}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="{% url 'user-update' pk=user.pk %}"> Profile</a></li>
                    <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out pull-right"></i> Sair</a></li>
                  </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    <li>
                      <a>
                        <span class="image"><img src="{% gravatar_url user.email 150 %}" alt="Profile Image" /></span>
                        <span>
                          <span>Paulo Romano</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Adicionou o problema "Pintar bancos da Praça da Sé "
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="{% gravatar_url user.email 150 %}" alt="Profile Image" /></span>
                        <span>
                          <span>Paulo Romano</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Adicionou o problema "Plantar flores na rua Alva "
                        </span>
                      </a>
                    </li>
                    <li>
                      <a>
                        <span class="image"><img src="{% gravatar_url user.email 150 %}" alt="Profile Image" /></span>
                        <span>
                          <span>Paulo Romano</span>
                          <span class="time">3 mins ago</span>
                        </span>
                        <span class="message">
                          Adicionou o problema "Pintar bancos da Praça da Sé"
                        </span>
                      </a>
                    </li>
                    <li>
                      <div class="text-center">
                        <a>
                          <strong>Veja todos</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        {% block page_content %}{% endblock page_content %}
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          {% include 'includes/footer.html' %}
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    {% include 'includes/scripts.html' %}
  </body>
</html>
