{% load static %}
{% load gravatar %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8"/>

    <title>{% block page_name %}{% endblock %} | Cidade em Ação</title>

    {% include 'includes/head.html' %}
  </head>

  <body class="nav-md">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.8&appId=273043509409094";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="container body">
      <div class="main_container">


        <!-- top navigation -->
        <div class="top_nav" style="margin-left: 0px;">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a href="{% url 'home' %}" id=""><i class="fa fa-eye"></i></a>
              </div>

              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="{% gravatar_url user.email 150 %}" alt="">{{ request.user.first_name }}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="{% url 'user-update' pk=user.pk %}"> Perfil</a></li>
                    <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out pull-right"></i> Sair</a></li>
                  </ul>
                </li>

                <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-envelope-o"></i>
                    <span class="badge bg-green">{{ notifications_qty }}</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                    {% for notification in notifications %}
                      <li>
                        <a href="{% url 'notifications:mark_as_read' notification.slug %}?next={% url 'home' %}">
                          <span class="image"><img src="{% gravatar_url notification.actor.email 150 %}" alt="Profile Image" /></span>
                          <span>
                            <span>Paulo Romano</span>
                            <span class="time">{{ notification.timesince }}</span>
                          </span>
                          <span class="message">
                            {{ notification.verb }}
                          </span>
                        </a>
                      </li>
                    {% endfor %}
                    <li>
                      <div class="text-center">
                        <a href="/inbox/notifications/">
                          <strong>Veja todos</strong>
                          <i class="fa fa-angle-right"></i>
                        </a>
                      </div>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        {% block page_content %}{% endblock page_content %}
        <!-- /page content -->

        <!-- footer content -->
        <footer style="margin-left: 0px;">
          {% include 'includes/footer.html' %}
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    {% include 'includes/scripts.html' %}
  </body>
</html>
