{% extends 'base.html' %}
{% load static %}
{% block page_name %}{{ object.name }}{% endblock %}
{% block page_content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Detalhes <small> do problema</small></h3>
        </div>

{#        <div class="title_right">#}
{#          <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">#}
{#            <div class="input-group">#}
{#              <input type="text" class="form-control" placeholder="Search for...">#}
{#              <span class="input-group-btn">#}
{#                <button class="btn btn-default" type="button">Go!</button>#}
{#              </span>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>{{ problem.name }}</h2>
{#              <ul class="nav navbar-right panel_toolbox">#}
{#                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>#}
{#                </li>#}
{#                <li class="dropdown">#}
{#                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>#}
{#                  <ul class="dropdown-menu" role="menu">#}
{#                    <li><a href="#">Configuração 1</a>#}
{#                    </li>#}
{#                    <li><a href="#">Configuração 2</a>#}
{#                    </li>#}
{#                  </ul>#}
{#                </li>#}
{#                <li><a class="close-link"><i class="fa fa-close"></i></a>#}
{#                </li>#}
{#              </ul>#}
              <div class="clearfix"></div>
            </div>

            <div class="x_content">

              <div class="col-md-9 col-sm-9 col-xs-12">

                <ul class="stats-overview">
                  <li>
                    <span class="name"> Orçamento </span>
                    <span class="value text-success"> {{ object.budget }} </span>
                  </li>
                  <li>
                    <span class="name"> Gasto </span>
                    <span class="value text-success"> {{ object.budget_used }} </span>
                  </li>
                  <li class="hidden-phone">
                    <span class="name"> Data Finalização </span>
                    <span class="value text-success"> {{ object.duedate }}</span>
                  </li>
                </ul>
                <br />

                <div id="mainb" style="height:0px;"></div>

                <div>

                  <h4>Comentários</h4>

                  <!-- end of user messages -->
                  <ul class="messages">
                    {% for comment in object.comment_set.all %}
                      <li>
                        <img src="{% static 'img/user.png' %}" class="avatar" alt="Avatar">
                        <div class="message_date">
                          <h3 class="date text-info">{{ comment.created_at|date:'d' }}</h3>
                          <p class="month">{{ comment.created_at|date:'M' }}</p>
                        </div>
                        <div class="message_wrapper">
                          <h4 class="heading">{{ comment.created_by.first_name }}</h4>
                          <blockquote class="message">{{ comment.body }}</blockquote>
                          <br />
  {#                        <p class="url">#}
  {#                          <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>#}
  {#                          <a href="#"><i class="fa fa-paperclip"></i> User Acceptance Test.doc </a>#}
  {#                        </p>#}
                        </div>
                      </li>
                    {% endfor %}
                  </ul>
                  <!-- end of user messages -->

                  <form method="post" class="form-horizontal form-label-left">
                    {% csrf_token %}
                    <div class="form-group">
                      <textarea id="id_comment_body" name="comment_body" class="col-md-12 col-sm-12 col-xs-12"></textarea>
                    </div>
                    <div class="form-actions">
                      <button class="btn btn-sm btn-primary" type="submit">Adicionar</button>
                    </div>
                  </form>

                </div>


              </div>

              <!-- start project-detail sidebar -->
              <div class="col-md-3 col-sm-3 col-xs-12">

                <section class="panel">

                  <div class="x_title">
                    <h2>Descrição</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="panel-body">
                    {% if object.description %}
                      <p>{{ object.description }}</p>
                    {% endif %}
                    <br />

                    <div class="project_detail">

                      <p class="title">Responsável</p>
                      <p>{{ object.created_by.first_name }}</p>
                      {% if object.contributors.count > 0 %}
                        <p class="title">Colaboradores</p>
                        {% for contributor in object.contributors.all %}
                          <p>{{ contributor.first_name }}</p>
                        {% endfor %}
                      {% endif %}
                    </div>

{#                    <br />#}
{#                    <h5>Project files</h5>#}
{#                    <ul class="list-unstyled project_files">#}
{#                      <li><a href=""><i class="fa fa-file-word-o"></i> Functional-requirements.docx</a>#}
{#                      </li>#}
{#                      <li><a href=""><i class="fa fa-file-pdf-o"></i> UAT.pdf</a>#}
{#                      </li>#}
{#                      <li><a href=""><i class="fa fa-mail-forward"></i> Email-from-flatbal.mln</a>#}
{#                      </li>#}
{#                      <li><a href=""><i class="fa fa-picture-o"></i> Logo.png</a>#}
{#                      </li>#}
{#                      <li><a href=""><i class="fa fa-file-word-o"></i> Contract-10_12_2014.docx</a>#}
{#                      </li>#}
{#                    </ul>#}
{#                    <br />#}
{##}
{#                    <div class="text-center mtop20">#}
{#                      <a href="#" class="btn btn-sm btn-primary">Add files</a>#}
{#                      <a href="#" class="btn btn-sm btn-warning">Report contact</a>#}
{#                    </div>#}
                  </div>

                </section>

              </div>
              <!-- end project-detail sidebar -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock page_content %}
