{% extends 'auth/base.html' %}
{% load static %}
{% load custom_tags %}

{% block page_name %}Login{% endblock %}
{% block page_content %}
<div class="right_col" style="margin-left: 0px; margin-right: 0px;" role="main">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">

        <div class="x_content">
          <form method="post" class="form-horizontal form-label-left">
          {% csrf_token %}
            {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                  {{ error }}
                </div>
              {% endfor %}
            {% endif %}
            {% fields_for form %}
            <div class="form-group col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
              <input class="btn btn-primary" type="submit"
                     value="{% if page.form.button_text %}{{ page.form.button_text }}{% else %}Entrar{% endif %}">
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}